<ul class="border-2 border-solid rounded-md border-slate-500 grid grid-cols-1 divide-y divide-slate-500">
    @for (tournament of ($tournaments | async); track tournament.id) 
    {
        <app-tournament-list-item [name]="tournament.name" [author]="tournament.user.username" [discipline]="tournament.discipline" [startDate]="tournament.startDate" [routerLink]="['tournament', tournament.id]"></app-tournament-list-item>
    } 
    @empty 
    {
        There were no items in the list.
    }
</ul>
