<form class="flex flex-col">
    <input type="text" placeholder="name"/>
    <select>
        <option selected disabled hidden>discipline</option>
        <option>e-sport</option>
        <option>other</option>
    </select>
    <div>
        <input type="radio" id="participant_type_player" name="participantType" value="player" />
        <label for="participant_type_player">player based</label>
    </div>
    <div>
        <input type="radio" id="participant_type_team" name="participantType" value="team" />
        <label for="participant_type_team">team based</label>
    </div>
    <button>Next</button>
</form>